// ---- Form ----------

// Name
mixin inputName
  label.feedback-form__field.feedback-form__field--name
    span Имя*
    input(placeholder="Дмитрий" name="name" autocomplete='off' maxlength='30' required )


// Tel
mixin inputTel
  label.feedback-form__field.feedback-form__field--tel
    span Телефон*
    input(type='tel' name='phone' placeholder="+7(___)___-__-__" data-tel-input='' maxlength='18'  autocomplete='off')


mixin selectExcursions
  label.feedback-form__field.feedback-form__field--selectExcursions
    span Экскурсия
    select(name="excursions")
      option(value="Не выбрано") Не выбрано
      option(value="По крышам") По крышам
      option(value="По парадным и дворам + коммуналка") По парадным и дворам + коммуналка
      option(value="Свидание на крыше") Свидание на крыше
      option(value="Развод мостов с крыши") Развод мостов с крыши



mixin format
  label.feedback-form__field.feedback-form__field--format
    span Формат экскурсии
    select(name="format")
      option(value="Не выбрано") Не выбрано
      option(value="Групповая") Групповая (до 15 чел)
      option(value="Индивидуальная") Индивидуальная (вы и гид)


mixin date
  label.feedback-form__field.feedback-form__field--date
    span Дата экскурсии
    input(type="date" name='date' placeholder="31.05.2023" autocomplete='off')


// Count
mixin count
  label.feedback-form__field.feedback-form__field--count
    span Сколько человек?
    input(type="number" name='count' placeholder="2" autocomplete='off')


mixin time
  label.feedback-form__field.feedback-form__field--time
    span Ориентировочное время
    input( name='time' placeholder="15:00" autocomplete='off')

mixin communication
  label.feedback-form__field.feedback-form__field--communication
    span Способ связи с Вами
    select(name="communication")
      option(value="Не выбрано") Не выбрано
      option(value="Telegram") Telegram
      option(value="WhatsApp") WhatsApp
      option(value="Tel") Телефон



//----------------

// Text
mixin inputText
  .feedback-form__input-container
    textarea( placeholder="Пожалуйста, введите запрос*" name="message" maxlength='200' rows="4")




mixin descExc(descData)
  section.desc
    .desc__container.container
      h1.desc__title=descData.title

      .desc__content
        .desc__slider.swiper
          .swiper-wrapper
            each slide in descData.slides
              .swiper-slide.desc__slide
                img(src=slide)

          .swiper-navigation
            .slider-nav__prev
            .slider-nav__next
          .swiper-pagination

        .desc__price
          h3.desc__price-title Цены
          ul.desc__price-list
            each price in descData.prices
              li.desc__price-item=price

          if descData.name !== "svidanie"
            .desc__price-note *цена за 1 человека

        button.button.button--accent.desc__button.js-popup-active Записаться

        .desc__text
          each text in descData.descText
            p=text

        case descData.name
          when "roof"
            include ./schedule/schedule-roof
          when "paradnye"
            include ./schedule/schedule-paradnye
          when "bridge"
            include ./schedule/schedule-bridge


        .desc__meet
          h3.desc__meet-title Место встречи
            include ../img/icons/important.svg
            span.desc__meet-title-hint-text Точное место встречи с гидом будет указано после оформления заявки
          p.desc__meet-text=descData.meetText

